* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .1s ease-in;
}

html {
    height: 100%;
}

body {
    background-color: #3399CC;
    border: 20px solid #2B81AC;
    min-height: 100%;
    color: #FFF;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h1 {
    font-weight: 500;
    font-size: 25px;
    text-transform: capitalize;
}

.main-box {
    width: 80%;
    margin: 0 auto;
    max-width: 700px;
}

.box-header {
    padding: 60px 0 20px;
}

.box-footer {
    margin: 20px 0;
    font-size: 18px;
}

.city {
    list-style-type: none;
    font-size: 0;
    border: 2px solid #FFF;
    background-color: #FFF;
}

.city:hover > li {
    opacity: .6;
}

.city li {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    border: 2px solid #FFF;
    text-align: center;
    padding: 20px 30px;
}

.city > li:hover {
    opacity: 1;
}

.city .blue {
    background-color: #3399CC;
}

.city .light_blue {
    background-color: #33CCCC;
}

.city .purple {
    background-color: #996699;
}

.city .red {
    background-color: #C24747;
}

.city .orange {
    background-color: #E2674A;
}

.city .yellow {
    background-color: #FFCC66;
}

.city .salade {
    background-color: #99CC99;
}

.city .grey {
    background-color: #669999;
}

.city .pink {
    background-color: #CC6699;
}

.city .green {
    background-color: #339966;
}

.city .dark_purple {
    background-color: #666699;
}

.city li.smallest {
    width: 25%;
}

.city li.middle {
    width: 50%;
}

.city li.biggest {
    width: 100%;
}

.city-weather {
    color: #fff;
    font-size: 18px;
    margin: 10px 0 0;
}

 i {
    font-size: 35px;
    vertical-align: bottom;
}
